<%= render "shared/header" %>

<div class="content-form">


  <h2 class="views-title">サブスク編集</h2>
  <%= form_with model: @content,  local: true do |f| %>
 <%= render 'shared/error_messages', model: f.object %>
  <div class="card">

     <%# 金額 %>
     <div class="card__imgframe">
       <div class="price-content">
            <p class="content-input-tite">Price</p>
          <div>
            <span class="sell-yen">¥</span>
            <%= f.text_field :price,  placeholder:"例）300" %>
          </div>
        </div>
      </div>
      <%# 金額 %>
    
    <%# TITLE %>
    <div class="card__textbox">
      <div class="card__overviewtext">
       <p class="content-input-tite">Title</p>
      </div>
      <%= f.text_field :name, class:"card__titletext",  placeholder:"商品名（必須 20文字まで)", maxlength:"40" %>
    </div>

    <%# 画像 %>
    <div class="card__textbox">
       <p class="content-input-tite">Icon Image</p>
       <div class="card__overviewtext">
       <h2 class = "current-imag" >現在のアイコン</h2>
       <% if @content.image.present? %>
       <%= image_tag @content.image, class: "content-img-edit" %>
        <% else %>
        <%= image_tag "mitoukou", class: "content-img-edit" %>
        <% end %>
      </div>
     <%= f.file_field :image,class:"card__titletext"  %>
    </div>

    <%# 下部ボタン %>
     <div class="card__textbox">
      <%= f.submit "編集" ,class:"sell-btn" %>
      <p><%= link_to "削除", content_path,method: :delete %></p>
      <%=link_to '戻る', root_path, class:"back-btn" %>
     </div>
    <%# /下部ボタン %>

  <% end %>

 </div>
</div>