<%= render "shared/header" %>

<div class="content-form">


  <h2 class="views-title">サブスク編集</h2>
  <%= form_with model: @content,  local: true do |f| %>
 <%= render 'shared/error_messages', model: f.object %>
  <div class="card">

     <%# 金額 %>
     <div class="card__imgframe">
       <div class="price-content">
            <h2>Price(月額)</h2>
          <div>
            <span class="sell-yen">¥</span>
            <%= f.text_field :price,  placeholder:"例）300" ,id:"num_only", oncopy:"return false" ,onpaste:"return false"%>
          </div>
        </div>
      </div>
      <%# 金額 %>
    
    <%# TITLE %>
    <div class="card__textbox">
      <div class="card__overviewtext">
       <h2>Name</h2>
      </div>
      <%= f.text_field :name, class:"card__titletext",  placeholder:"必須 20文字まで", maxlength:"20" %>
    </div>

    <%# 画像 %>
    <div class="card__textbox">
              <h2>Icon Image</h2>
       <div class="card__overviewtext">
       <h2 class = "current-imag" >現在のアイコン</h2>
       <% if @content.image.present? %>
       <%= image_tag @content.image, class: "content-img-edit" %>
        <% else %>
        <%= image_tag "mitoukou", class: "content-img-edit" %>
        <% end %>
      </div>
     <%= f.file_field :image,class:"card__titletext"  %>
      <p class ="gazoukensaku-font">↓画像検索はこちら</p>
     <div class="card__overviewtext2">
     <script async src="https://cse.google.com/cse.js?cx=c8c68f8277fa15877"></script>
      <div class="gcse-search"></div>
      </div>
    </div>

    <%# 下部ボタン %>
     <div class="card__textbox">
      <%= f.submit "編集" ,:class=> "submit-botan" %>

      <div class="display-flex-m-top">
      <p><%= link_to "削除", content_path,method: :delete ,class: "content-edit-dellet"%></p>
      <p><%=link_to '戻る', root_path, class: "content-edit-dellet" %></p>
      <div>
     </div>
    <%# /下部ボタン %>

  <% end %>

 </div>

 <script>
  
  $(function() {
    $('#num_only').on('input', function(e) {
        let value = $(e.currentTarget).val();
        value = value
            .replace(/[０-９]/g, function(s) {
                return String.fromCharCode(s.charCodeAt(0) - 65248);
            })
            .replace(/[^0-9]/g, '');
      	$(e.currentTarget).val(value);
    });
});

  </script>
</div>