<head>
    <title><%= "#{@content.name}(編集) / Subscription"%></title>
</head>
<%= render "shared/header" %>

<div class="content-form">


  <h2 class="views-title">サブスク編集</h2>
<%= form_with model: @content,  local: true do |f| %>
 <%= render 'shared/error_messages', model: f.object %>
  <div class="card">

     <%# 金額 %>
     <div class="card__imgframe">
       <div class="price-content">
          <div class="display-flex">
            <p class="content-input-title">Price</p><p>(月額)</p>
          </div>
          <div>
            <span class="sell-yen">¥</span>
            <%= f.text_field :price,  placeholder:"必須" ,id:"num_only", oncopy:"return false" ,onpaste:"return false"%>
          </div>
        </div>
      </div>
      <%# 金額 %>
    
    <%# TITLE %>
    <div class="card__textbox">
       <p class="content-input-title">Name</p>
    <%= f.text_field :name, class:"card__titletext",  placeholder:"必須 20文字まで", maxlength:"20" %>
    </div>

    <%# 画像 %>
    <div class="card__textbox">
              <p class="content-input-title">Icon</p>
       <div class="card__overviewtext">
       
       <% if @content.image.present? %>
       <%= image_tag @content.image, class: "content-img-edit" ,id:"img1"%>
        <% else %>
        <%= image_tag "mitoukou", class: "content-img-edit" ,id:"img1" %>
        <% end %>
      </div>
     <%= f.file_field :image , class:"card__titletext" ,id:"myfile"%>
      <p class ="gazoukensaku-font">画像検索はこちら</p>
     <div class="card__overviewtext2">
     <script async src="https://cse.google.com/cse.js?cx=c8c68f8277fa15877"></script>
      <div class="gcse-search"></div>
      </div>
    </div>
      <div class="card__textbox">
       <p class="content-input-title">Memo</p>
      <%= f.text_area :memo, class:"card__memotext",  placeholder:"メモ 100文字まで",maxlength:"100" %>
    </div>
    <%# 下部ボタン %>
     <div class="card__textbox">
      <%= f.submit "編集" ,:class=> "submit-botan" %>

      <div class="display-flex-m-top">
      <p><%= link_to "削除", content_path,method: :delete ,class: "content-edit-dellet"%></p>
      <p><%=link_to '戻る', root_path, class: "content-edit-dellet" %></p>
      <div>
     </div>
    <%# /下部ボタン %>

<% end %>

 </div>

 <script>
  
  $(function() {
    $('#num_only').on('input', function(e) {
        let value = $(e.currentTarget).val();
        value = value
            .replace(/[０-９]/g, function(s) {
                return String.fromCharCode(s.charCodeAt(0) - 65248);
            })
            .replace(/[^0-9]/g, '');
      	$(e.currentTarget).val(value);
    });
});

$(function(){
      $('.card__overviewtext2').hide();
      $('.gazoukensaku-font').on('click', () => {
        $('.card__overviewtext2').toggle();
        });
    });

$(function(){
  $('#myfile').change(function(e){
    //ファイルオブジェクトを取得する
    var file = e.target.files[0];
    var reader = new FileReader();
 
    //画像でない場合は処理終了
    if(file.type.indexOf("image") < 0){
      alert("画像ファイルを指定してください。");
      return false;
    }
 
    //アップロードした画像を設定する
    reader.onload = (function(file){
      return function(e){
        $("#img1").attr("src", e.target.result);
        $("#img1").attr("title", file.name);
      };
    })(file);
    reader.readAsDataURL(file);
 
  });
});
  </script>
</div>