<%= render "shared/header" %>

<div class="wrap">

<%# ユーザーログイン有無で条件分岐 %>
<% if user_signed_in? %>
<div class='login-main-body'>
  <%# サブスクTITLE %>
   <div class="sabusuku-title" >
     <h2 class='sabusuku-title-name'>Subscription</h2>
     <%= link_to 'サブスク登録', new_content_path, class: "content-new" %></li>
    </div>
  <%# サブスクTITLE %>
  <div class='login-contents'>
      <ul class='content-lists'>
    <%# マイサブスク一覧表示 %>
      <% @content.each do |content| %>
          <%# 画像 %>
            <li class='all-list'>
              <%= image_tag content.image, class: "content-img" %>
            <%# タイトル %>
              <div class='content-name'>
                 <%= content.name%>
              </div>
            <%# 金額 %>
              <div class='content-price'>
                <span><%= content.price %></span>
              </div>
              <%= link_to image_tag('menu2.png' ,class: "content-edit") ,edit_content_path(content.id) %> 
            </li>
        <% end %>
      <%# マイサブスク一覧表示 %>
     </ul>
   </div>
  <%# サブスクbody %>
</div>


    <% else %>
    <%# 未ログイン %>
<div class='main-body'>
  <div class='left-body'>
    <div class='left-body-box'>
      <p class= 'body-title' id = "toptitle">サブスクの管理、</p>
      <p class= 'body-title' id = "toptitle2">はじめよう。</p>
     <div class='main-image'>
      <%= image_tag "sumahofree.jpeg", class:"body-image" ,id: "toptitle3"%>
     </div>
    </div>
  </div>

  <div class='light-body' id= "toptitle4">
  
    <ul class='body-lists'>
      <li><p>Let's get started</p></li>
     <li class='list'><%= link_to '新規登録', new_user_registration_path, class: "body-link" %></li>
      <li class='list'><%= link_to 'ログイン', new_user_session_path, class: "body-link" %></li>
    </ul>
   
  </div>

 <% end %> 
 <%# ユーザーログイン有無で条件分岐 %>

<!-- /.wrap --></div>