<%= render "shared/header" %>

<div class="content-form">


  <h2 class="views-title">サブスク登録</h2>
  <%= form_with model: @content,  local: true do |f| %>
 <%= render 'shared/error_messages', model: f.object %>
    <div class="card">
     <%# 金額 %>
     <div class="card__imgframe">
       <div class="price-content">
          <div class="display-flex">
            <p class="content-input-title">Price</p><p>(月額)</p>
          </div>
          <div>
            <span class="sell-yen">¥</span>
            <%= f.text_field :price,   placeholder:"必須" , id:"num_only", oncopy:"return false" ,onpaste:"return false" %>
          </div>
        </div>
      </div>
      <%# 金額 %>
    
    <%# TITLE %>
    <div class="card__textbox">
      <p class="content-input-title">Name</p>
      <%= f.text_field :name, class:"card__titletext",  placeholder:"(必須 20文字まで)", maxlength:"20" %>
    </div>

    <%# 画像 %>
    <div class="card__textbox">
      <div class="card__overviewtext">
            <p class="content-input-title">Icon Image</p><p>(※画像なしでも登録可)</p>
       <%= f.file_field :image, class:"card__titletext"  %>
       
      </div>
      <p class ="gazoukensaku-font">↓画像検索はこちら</p>
     <div class="card__overviewtext2">
     <script async src="https://cse.google.com/cse.js?cx=c8c68f8277fa15877"></script>
      <div class="gcse-search"></div>
      </div>
    </div>
 <%# memo %>
    <div class="card__textbox">
       <p class="content-input-title">Memo</p>
      <%= f.text_area :memo, class:"card__memotext",  placeholder:"メモ 100文字まで",maxlength:"100" %>
    </div>

    <%# 下部ボタン %>
     <div class="card__textbox">
      <%= f.submit "登録" ,class:"content-new-buttn" %>
      <%=link_to '戻る', root_path, class:"content-new-butt2" %>
     </div>
    <%# /下部ボタン %>

  <% end %>


<script>
  $(function() {
    $('#num_only').on('input', function(e) {
        let value = $(e.currentTarget).val();
        value = value
            .replace(/[０-９]/g, function(s) {
                return String.fromCharCode(s.charCodeAt(0) - 65248);
            })
            .replace(/[^0-9]/g, '');
      	$(e.currentTarget).val(value);
    });
});
  </script>



 </div>
</div>