<%= render "shared/header" %>

<div class="content-form">


  <h2 class="views-title">サブスク登録</h2>
  <%= form_with model: @content,  local: true do |f| %>
 <%= render 'shared/error_messages', model: f.object %>
    <div class="card">
     <%# 金額 %>
     <div class="card__imgframe">
       <div class="price-content">
         <div class="price-text">
            <h2>Price(月額)<h2>
          </div>
          <div>
            <span class="sell-yen">¥</span>
            <%= f.text_field :price,   placeholder:"例）300" %>
          </div>
        </div>
      </div>
      <%# 金額 %>
    
    <%# TITLE %>
    <div class="card__textbox">
      <div class="card__overviewtext">
       <h2>Name</h2>
      </div>
      <%= f.text_field :name, class:"card__titletext",  placeholder:"(必須 20文字まで)", maxlength:"20" %>
    </div>

    <%# 画像 %>
    <div class="card__textbox">
      <div class="card__overviewtext">
       <h2>Icon Image(※画像なしでも登録可)</h2>
       <%= f.file_field :image, class:"card__titletext"  %>
       
      </div>
      <p class ="gazoukensaku-font">↓画像検索はこちら</p>
     <div class="card__overviewtext2">
     <script async src="https://cse.google.com/cse.js?cx=c8c68f8277fa15877"></script>
      <div class="gcse-search"></div>
      </div>
    </div>

    <%# 下部ボタン %>
     <div class="card__textbox">
      <%= f.submit "登録" ,class:"content-new-buttn" %>
      <%=link_to '戻る', root_path, class:"content-new-butt2" %>
     </div>
    <%# /下部ボタン %>

  <% end %>

 </div>
</div>