<%= render "shared/header" %>
<h2 class="views-title">ユーザー編集</h2>
<%= form_with model: current_user, url: user_registration_path, method: :put, local: true do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

 <div class='form-wrap'>
  
  <div class = "form-box">
    <%= image_tag "user.png", class:"newicon-image" %>
    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">ニックネーム</label>
      </div>
        <%= f.text_area :nickname, id:"nickname", placeholder:" 例) Tarou",  class:"input-default",maxlength:"40" %>
    </div>
  </div>

  <div class = "form-box">
    <%= image_tag "email.png", class:"newicon-image" %>
    <div class="form-group">
      <div class='form-text-wrap'>
       <label class="form-text">email</label>
      </div>
        <%= f.email_field :email, class:"input-default", id:"email", placeholder:" PC・携帯どちらでも可", autofocus: true %>
    </div>
  </div>
 
<div class = "form-box">
    <%= image_tag "check.png", class:"newicon-image" %>
    <div class="form-group">
      <div class='form-text-wrap'>
       <label class="form-text">お知らせ</label>
      </div>
       <label><%= f.radio_button :check, "あり" %> あり </label>
       <label><%= f.radio_button :check, "なし" %> なし </label>
    </div>
</div>

<div class="actions">
    <%= f.submit "更新" , :class=> "submit-botan" %>
   
  </div>
   <%= link_to "退会", user_registration_path(current_user.id) ,method: :delete, class: "user-delete-botan", "data-confirm" => "本当に退会しますか？"%>
</div>
<% end %>


