<%= render "shared/header" %>


<%#h2>もう少しで、サブスクを管理できます。</h2#%>

<%= form_with model: @user, url: users_sign_up_confirm_path(@user),  local: true do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

<div class='form-wrap'>
  
  <div class = "form-box">
    <%= image_tag "user.png", class:"newicon-image" %>
    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">ニックネーム</label>
      </div>
        <%= f.text_area :nickname, id:"nickname", placeholder:" 例) Tarou",  class:"input-default",maxlength:"40" %>
    </div>
  </div>

  <div class = "form-box">
    <%= image_tag "email.png", class:"newicon-image" %>
    <div class="form-group">
      <div class='form-text-wrap'>
       <label class="form-text">email</label>
      </div>
        <%= f.email_field :email, class:"input-default", id:"email", placeholder:" PC・携帯どちらでも可", autofocus: true %>
    </div>
  </div>

<div class = "form-box">
    <%= image_tag "password.jpeg", class:"newicon-image" %>
    <div class="form-group">
      <div class='form-text-wrap'>
       <label class="form-text">Password</label>
      </div>
        <%= f.password_field :password, class:"input-default", id:"password", placeholder:" 6文字以上の半角英数字" %>
    <p class='info-text'>※英数混合の6文字以上</p>
    </div>
  </div>

 
<div class = "form-box">
    <%= image_tag "check.png", class:"newicon-image" %>
    <div class="form-group">
      <div class='form-text-wrap'>
       <label class="form-text">お知らせ</label>
      </div>
       <label><%= f.radio_button :check_id, "1" %> あり </label>
       <label><%= f.radio_button :check_id, "2" %> なし</label>
    </div>
</div>

<div class="actions">
    <%= f.submit "Sign up" , :class=> "submit-botan" %>
  </div>
</div>
<% end %>


