<head>
    <title><%= "ユーザー新規登録 / Subscription"%></title>
</head>

<%= render "shared/header" %>


<h2 class="views-title">ユーザー新規登録</h2>

<%= form_with model: @user, url: users_sign_up_confirm_path(@user), local: true do |f| %>
  
<div class='form-wrap'>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class = "form-box">
    <%= image_tag "user.png", class:"newicon-image" %>
    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">ニックネーム</label>
      </div>
        <%= f.text_field :nickname,class:"input-default", id:"nickname", placeholder:" 例) Tarou",  maxlength:"20" %>
    </div>
  </div>

  <div class = "form-box">
    <%= image_tag "email.png", class:"newicon-image" %>
    <div class="form-group">
      <div class='form-text-wrap'>
       <label class="form-text">email</label>
      </div>
        <%= f.email_field :email, class:"input-default", id:"email", placeholder:" PC・携帯どちらでも可", autofocus: true %>
    </div>
  </div>

<div class = "form-box">
    <%= image_tag "password.jpeg", class:"newicon-image" %>
    <div class="form-group">
      <div class='form-text-wrap'>
       <label class="form-text">Password</label>
      </div>
        <%= f.password_field :password, class:"input-default", id:"password", placeholder:" 6文字以上の半角英数字" %>
    <p class='info-text'>※英数混合の6文字以上</p>
    </div>
  </div>

 
  <div class = "form-box-c">
    <%= image_tag "check.png", class:"newicon-image" %>
    <div class="form-group">
      <div class='form-text-wrap'>
       <label class="form-text-c">毎月のサブスク契約を登録頂いたメールに配信します！</label>
       <p class=form-text-c>配信頻度をお選びください。</p>
      </div>
       <label><%= f.radio_button :check, "月1" %> 月1(毎月1日) </label>
       <label><%= f.radio_button :check, "月2" %> 月2(毎月1・15日) </label>
       <label><%= f.radio_button :check, "なし" %> なし </label>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "確認画面" , :class=> "submit-botan" %>
  </div>
<%- if controller_name != 'sessions' %>
  <%= link_to "ログイン", new_session_path(resource_name),class: "devise-botan2" %><br />
<% end %>
</div>
<% end %>


