<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= "#{@user.nickname}さん" %></p>

    <p>いつも、サブスクの管理をご利用頂きありがとうございます。</p>
    <p><%= "今回の連絡は、現在#{@user.nickname}さんが契約しているサブスク内容のお知らせになります。"%></p>
    
    <ul class='content-lists'>
    【契約内容】
     <% @content.each do |content| %>
      <li >
      <div class='all-list'>
            <%# タイトル %><%# 金額 %>
            <div class='content-title'>
                 <P class='content-name'>
                 <%= content.name%>
                 </p>
                  <p class='content-price'>
                  <%= "¥#{number_to_currency(content.price)}" %>
                </p>
            </div>
            <%# 画像 %>
            <div class="image-absolute">
            <% if content.image.present? %>
            <%= image_tag content.image, class: "content-img" %>
            <% else %>
            <%= image_tag "mitoukou", class: "content-img" %>
            <% end %>
            </div>
       </div>
       </li>
       <% end %>
      </ul>

    <pre>
    <%= "契約数:#{@content.count}" %>
    <%= "合計金額:¥#{@content.sum(:price)}" %>
   <pre>
<p> サブスクの管理、下記リンクから解約しましょう。</p>

----------------------------------------------
Sabusuku no Kanri運営事務局
http://52.68.230.104/
お問い合わせ先：sabusuku.kanri.info@gmail.com
----------------------------------------------

  </body>
</html>
