<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= "#{@user.nickname}さん" %></p>

    <p>いつも、サブスクの管理をご利用頂きありがとうございます。</p>
    <p><%= "今回の連絡は、現在#{@user.nickname}さんが契約しているサブスク内容のお知らせになります。"%></p>
    
    <pre>
    【契約内容】
     <% @content.each do |content| %>
     <%= content.name %>:<%= "¥#{content.price}" %>
    <% end %>
    </pre>

    <pre>
    <%= "契約数:#{@content.count}" %>
    <%= "合計金額:¥#{@content.sum(:price)}" %>
   </pre>

    <div class="maill-link">
        <p>サブスクの管理は、</p>
      <a href="http://52.68.230.104/">こちら</a>
      <p>から行いましょう。</p>
    </div>
    <div class="maill-link">
        <p>お知らせ頻度変更の方は、</p>
      <a href="http://52.68.230.104/users/edit">こちら</a>
      <p>。</p>
    </div>

----------------------------------------------
Sabusuku no Kanri運営事務局
http://52.68.230.104/
お問い合わせ先：sabusuku.kanri.info@gmail.com
----------------------------------------------

  </body>
</html>
