
<footer class="footer">



  <div class='footer-price'>

    <div class = "footer-left" >
    <p class = "footer-left-m" >▷Monthly</p>
    <p class = "footer-left-a">Average</p> 
    </div>

    <div class = "footer-light" id ="totale-price">
    <p class ="totale-price" id = 't-price' ><%= "¥#{number_to_currency(@content.sum(:price))}" %></p>
   
    </div>

  </div>

        <%# button変更 #%>
    <script>

      $('.footer-left-m').on('click', function () {

        if ($(this).text() === '▷Monthly') {
              $(this).text('▷Yearly');
              $('#totale-price').html("<%= escape_javascript(render 'price.y') %>");        
            } else if ($(this).text() === '▷Yearly'){
               $(this).text('▷Day');
              $('#totale-price').html("<%= escape_javascript(render 'price.d') %>");
            } else if ($(this).text() === '▷Day'){
              $(this).text('▷Week');
              $('#totale-price').html("<%= escape_javascript(render 'price.w') %>");
            }else{
              $(this).text('▷Monthly');
              $('#totale-price').html("<%= escape_javascript(render 'price.m') %>");
            }

      });

    </script>

    <%# カンマ付与 %>

    <script>

</script>

</footer>